@import "../helpers/variables";


.mobile-navigation {
  ul {
background: none;
  }
  
}

.navbar-toggler {
  background-color:grey;
}
nav {
      background: $navigation-background;

   ul {
    list-style: none;
    width:100%;
  }
   a {
     color: $hyperlink-color;
   }

}